[submodule "django-comments-xtd"]
	path = django-comments-xtd
	url = https://github.com/nullscc/django-comments-xtd.git
[submodule "zinnia"]
	path = zinnia
	url = https://github.com/nullscc/django-blog-zinnia.git
[submodule "zinnia-theme-bootstrap"]
	path = zinnia-theme-bootstrap
	url = https://github.com/nullscc/zinnia-theme-bootstrap.git
[submodule "maxim"]
	path = maxim
	url = https://github.com/nullscc/django_maxim.git
